/*################ Theme Header With shrink Effect Start #####################*/
#vbs-header[vbs-lpanel-effect="shrink"] .vbs-right-header[vbs-position-type="relative"] {
  margin-left: 230px;
   padding-right: 0;
}
#vbs-header[vbs-lpanel-effect="shrink"].vbs-minimized-lpanel .vbs-right-header[vbs-position-type="relative"] {
  margin-left: 50px;
  padding-right: 0;
}
#vbs-header[vbs-lpanel-effect="shrink"] .vbs-right-header[vbs-position-type="fixed"] {
	padding-right: 230px;
	margin-left: 230px;
}
#vbs-header[vbs-lpanel-effect="shrink"].vbs-minimized-lpanel .vbs-right-header[vbs-position-type="fixed"] {
padding-right: 50px;
	margin-left: 50px;
}
#vbs-header[vbs-lpanel-effect="shrink"] .vbs-right-header[vbs-position-type="relative"] .vbs-sidebar-toggle a:after {
    margin-left: 0px;
}
#vbs-header.vbs-minimized-lpanel[vbs-lpanel-effect="shrink"] .vbs-right-header[vbs-position-type="relative"] .vbs-sidebar-toggle a:after {
    margin-left: 0px;
}
#vbs-header[vbs-lpanel-effect="shrink"] .vbs-right-header[vbs-position-type="fixed"] .vbs-sidebar-toggle a:after {
    left: 0px;
}
#vbs-header.vbs-minimized-lpanel[vbs-lpanel-effect="shrink"] .vbs-right-header[vbs-position-type="fixed"] .vbs-sidebar-toggle a:after {
    left: 0px;
}

#vbsapp-container[vbs-lpanel-effect="shrink"] #main-content{
	margin-left: 230px;
}
#vbsapp-container[vbs-lpanel-effect="shrink"].vbs-minimized-lpanel #main-content{
	margin-left: 50px;
}
/*################ Theme Header With shrink Effect Close #####################*/